.mic-button {
    background-color: #BC7C7C;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mic-button:hover {
    background-color: #c79393;
  }
  
  .mic-button.recording {
    background-color: #ff4b4b;
  }
  